material-dialog
  .dialog-content
    .dialog-title {{'New Service' | translate}}
    material-input-group.material-input-group-theme-light
      label(for="title") {{'Title' | translate}}
      material-input#title(type="text", ng-model="service.title")
    material-input-group.material-input-group-theme-light
      label(for="description") {{'Description' | translate}}
      material-input#description(type="text", ng-model="service.description")
    material-input-group.material-input-group-theme-light
      label(for="rate") {{'Rate without VAT' | translate}}
      material-input#rate(type="number", ng-model="service.rate")
    material-input-group.material-input-group-theme-light
      label(for="time") {{'Time' | translate}}
      material-input#time(type="number", ng-model="service.time")
    br
    label(for="vatrate") {{'VAT rate' | translate}}
    material-radio-group#vatrate(ng-model="service.vatrate")
      material-radio-button(value="0" aria-label="0%")
        | 0%
      material-radio-button(value="7" aria-label="7%")
        | 7%
      material-radio-button(value="19" aria-label="19%")
        | 19%
    p {{'VAT' | translate}}: {{service.vat}}
    | {{'Total' | translate}}: {{service.cost}}
  .dialog-actions(layout='horizontal', layout-align='end')
    material-button(ng-click='close()')
      | {{'Cancel' | translate}}
    material-button.material-button-colored(ng-click='add()')
      | {{'Add' | translate}}
