material-toolbar.material-theme-green
  .material-toolbar-tools(layout="horizontal")
    // TODO https://material.angularjs.org/#/material.components.button/directive/materialButton
    material-button.material-button-fab.material-theme-green.small.no-shadow(ng-click="goBack()")
      material-icon(icon="/images/material-icons/ic_arrow_back_24px_white.svg")
    h1(flex='flex')
      span {{'New Invoice' | translate}}
    material-button.material-button-fab.material-theme-green.small.no-shadow(ng-click="toggleFullscreen()")
      span(ng-if="!isFullscreen")
        material-icon(icon="/images/material-icons/ic_fullscreen_24px_white.svg")
      span(ng-if="isFullscreen")
        material-icon(icon="/images/material-icons/ic_fullscreen_exit_24px_white.svg")
    material-button.material-button-fab.material-theme-green.small.no-shadow(ng-click="drawer()")
      material-icon(icon="/images/material-icons/ic_drawer_24px_white.svg")
