material-content.material-content-padding
  div(layout="horizontal", layout-align="space-around")
    material-button.material-button-fab.material-theme-green(ui-sref='material-layout.invoices', style="width: 80px; height: 80px;")
      material-icon(icon="/images/material-icons/invoice_48px_white.svg")
    material-button.material-button-fab.material-theme-light-blue(ui-sref='material-layout.customers', style="width: 80px; height: 80px;")
      material-icon(icon="/images/material-icons/ic_people_48px_white.svg")
  material-list
    material-item
      .material-tile-content
        h2 home
        h3 test
        p
          | test3
