material-content.material-content-padding
  div(layout="horizontal", layout-align="space-around")
    material-button.material-button-fab.material-theme-green(ui-sref='material-layout.invoices', style="width: 80px; height: 80px;")
      material-icon(icon="/images/material-icons/invoice_48px_white.svg")
    material-button.material-button-fab.material-theme-light-blue(ui-sref='material-layout.customers', style="width: 80px; height: 80px;")
      material-icon(icon="/images/material-icons/ic_people_48px_white.svg")
  material-list
    material-item
      .material-tile-content
        h2 home
        h3 test
        p
          | test3
//- Promoted Action: http://www.google.com/design/spec/patterns/promoted-actions.html
div(style="position: absolute; bottom: 0; right: 0;")
  div(style="padding:10px 20px;")
    material-button.material-button-fab.material-theme-green(ui-sref='material-layout.invoices')
      material-icon(icon="/images/material-icons/invoice_24px_white.svg", style="width: 24px; height: 24px;")
  div(style="padding:10px 20px;")
    material-button.material-button-fab.material-theme-light-blue(ui-sref='material-layout.customers')
      material-icon(icon="/images/material-icons/ic_people_24px_white.svg", style="width: 24px; height: 24px;")
