ion-view(title='New Invoice')
  ion-nav-buttons(side='left')
    button.button.button-icon.icon.ion-navicon(menu-toggle='left')
  ion-content.has-header.has-footer
    .list
      .item.item-divider(ng-repeat-start="task in invoice.task") {{$index + 1}}. Task
      label.item.item-input
        input(id="#invoice-task-{{$index + 1}}-title", type='text', ng-model="task.title", placeholder='Title')
      label.item.item-input
        textarea(id="#invoice-task-{{$index + 1}}-description", ng-model="task.description", placeholder='Description')
      label.item.item-input(ng-repeat-end)
        i.icon.ion-cash.placeholder-icon
        input(id="#invoice-task-{{$index + 1}}-cost", type='number', ng-model="task.cost", placeholder='0')
    webodfview(data-file="/invoice.odt", data-invoice="invoice", data-save="webodf.save", data-refresh="webodf.refresh")
  ion-footer-bar.bar-assertive
    .button-bar
      button.button.button-icon.icon.ion-ios7-plus-outline(title="Add Task", ng-click="addTask()")
      button.button.button-icon.icon.ion-ios7-minus-outline(title="Remove Task", ng-click="removeTask()")
      button.button.button-icon.icon.ion-ios7-refresh-outline(title="Refresh", ng-click="refresh()")
      button.button.button-icon.icon.ion-ios7-download-outline(title="Save", ng-click="save()")
