ion-view(title='Preview')
  ion-nav-buttons(side="right")
    button.button.button-icon.icon.ion-android-download(ng-click="download()")
    button.button.button-icon.icon.ion-upload(ng-click="upload()")
  ion-content.has-header
    webodfview(data-file="/invoice.odt", data-invoice="invoice", data-upload="webodf.upload", data-refresh="webodf.refresh", data-ready="webodf.ready", data-download="webodf.download")
    a.button.button-full.button-positive(href="/ionic/invoice/new/finish") Finish
