extends ./layout

block styles
  link(rel="stylesheet", media="screen, print, handheld, projection", type="text/css" href="styles/importer.css")
block body
  a(href="/invoice/new") invoice/new

block scripts
