doctype html
html(style="height: 100%;")
  head
    title #{i18n('Sign in to continue')}
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link#style(rel="stylesheet", href='/styles/ionic.css')
  body(style="height: 100%;")
    .bar.bar-header.bar-positive
      h1.title #{i18n('Sign in to continue')}
    .content.has-header.padding
      if flash && flash.error
        p.text-center= flash.error[0].message
      form(action="/session/create", method="POST")
        .list
          label.item.item-input
            input(name="email", type="text", placeholder="Email", required='required', autofocus='autofocus')
          label.item.item-input
            input(name="password", type="password", placeholder="Password", required='required')
        .padding
          button.button.button-block.button-positive(type='submit') #{i18n('Sign in')}
