// Google Material Design
@import (less) "./../third-party/angular-material/angular-material.css";

// General
body {
  background-color: #ECECEC;
}

material-card {
  background-color: white;
}

.no-shadow {
  box-shadow: none !important;
}

// scroll only up and down
.scroll-y {
  overflow-y: scroll;
  overflow-x: hidden;
}

// class for material promoted action button
material-button.material-button-fab {
  // fixed promoted action button on buttom right
  &.fixed-bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
    margin:10px 20px;
  }
  // Squareing and expanding animation for promoted action button
  &[square-and-expand-me],
  &[expand-me]
  {
    -webkit-transition:all linear 0.2s;
    transition:all linear 0.2s;
  }
  // Expanded promoted action button
  &.expanded {
    width: 100%;
    margin: 10px 0;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    // WORKAROUND to hide material-ink-ripple effect
    > .material-button-inner {
      display: none;
    }
  }
  // Squareed promoted action button
  &.squareed {
    border-radius: 0%;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }
  // custom color themes
  &.material-theme-white {
    &:hover, &:focus {
      background-color: white;
    }
  }
}

// Fade animation for ng-show and ng-hide
.fade {
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  opacity: 1;
  &.ng-hide {
    opacity: 0;
  }
}

// material cards
.card-title {
  padding-left: 30px;
  padding-top: 5px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.7px;
}

// material content
material-content {
  &.new-invoice-content {
    .info {
      padding: 10px;
      h2, p {
        margin: 0 0 3px 0;
      }
      .right {
        text-align: right;
      }
    }
  }
}

// Material Button
material-button {
  &.small {
    width: 32px;
    height: 32px;
    material-icon {
      left: 4px;
      top: 4px;
      position: absolute;
    }
  }
}

// material list
material-list {
  > material-button {
    padding: 0;
  }
  material-button {
    .material-button-inner {
      z-index: 1;
    }
  }
}


material-dialog {
  .dialog-title {
    font-size: 1.17em;
  }
}
