ion-header-bar.bar-positive(align-title='center')
  .buttons
    button.button(ng-click='doSomething()') Left Button
  h1.title Title!
  .buttons
    button.button Right Button
ion-content
  a(ui-sref="invoice") /invoice/new
