ion-nav-bar.nav-title-slide-ios7.bar-positive(align-title="left")
  ion-nav-buttons(side="left")
    button.button.button-icon.icon.ion-android-drawer.android-drawer-android-style(menu-toggle="left")
    //- ion-nav-buttons(side="right")
    //-   ion-nav-back-button.button.button-icon.icon.ion-android-arrow-back
ion-nav-view(name="newInvoiceContent", animation='slide-left-right')
