material-content
  material-list
    material-button(ui-sref='material-layout.home', layout="horizontal", layout-align="start")
      material-item
        .material-tile-left
          material-icon(icon="/images/material-icons/ic_home_24px.svg")
        .material-tile-content Home
    material-button(ui-sref='material-layout.invoices', layout="horizontal", layout-align="start")
      material-item
        .material-tile-left
          material-icon(icon="/images/material-icons/invoice_24px.svg")
        .material-tile-content Invoices
    material-button(ui-sref='material-layout.customers', layout="horizontal", layout-align="start")
      material-item
        .material-tile-left
          material-icon(icon="/images/material-icons/ic_people_24px.svg")
        .material-tile-content Customers
