div(style="padding:10px 20px;")
  material-button.material-button-fab.material-theme-orange(ui-sref='material-layout.customers')
    material-icon(icon="/images/material-icons/ic_add_24px.svg", style="width: 24px; height: 24px;")
