material-toolbar.material-theme-green
  .material-toolbar-tools(layout="horizontal")
    // TODO https://material.angularjs.org/#/material.components.button/directive/materialButton
    .material-button(style="width: 24px; height: 24px;", ng-click="toggleLeft()")
      material-icon(icon="/images/material-icons/ic_menu_24px_white.svg")
    h1(flex='flex')
      span Invoices
    .material-button(ng-click="viewGrid()", style="width: 24px; height: 24px;")
      material-icon(icon="/images/material-icons/ic_view_module_24px_white.svg")
    .material-button(ng-click="viewList()", style="width: 24px; height: 24px;")
      material-icon(icon="/images/material-icons/ic_view_list_24px_white.svg")
    .material-button(style="width: 24px; height: 24px;")
      material-icon(icon="/images/material-icons/ic_drawer_24px_white.svg")
